@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
*,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(43, 49, 54);
    border-bottom: yellowgreen 1px solid;
    border-top: yellowgreen 1px solid;
}

header img {
    width: 100px;
    height: 50px;
    background-color: white;
    border-radius: 3em;
    place-self: center;
}

header .dev {
    color: white;
}

header h1 {
    color: white;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 50px;
    margin-left: 5px;
}

.help_title_header {
    color: gray;
}

header {
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 2px rgba(43, 255, 43, 1);
}

header .header-first {
    padding-left: 10px;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

header .header-first h1 {
    font-size: 5vw;
}

header .header-first h1 .header-span-title {
    color: gray;
}

header .header-search-box {
    margin-right: 10px;
    width: 200px;
    height: 30px;
    background-color: #222;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    transition: border 500ms, box-shadow 500ms;
}

header .header-search-box .header-search-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

header .header-search-box i {
    color: white;
}

header .header-search-box:focus-within {
    border: 2px solid rgb(94, 94, 252);
    box-shadow: 0px 0px 5px 2px rgb(94, 94, 252);
}

header button {
    border: none;
    background-color: transparent;
}

header i {
    border: none;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
    color: white
}

.accueil-global {
    background-image: url("../img/bg-accueil.jpg");
    background-size: cover;
    margin-top: 5px;
    margin-bottom: 3px;
}

.accueil {
    font-family: 'Source Code Pro', monospace;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    width: 90%;
    height: 85%;
    border-radius: 15px;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    box-shadow: #FFFFFF 1px 1px 5px 2px
}

.accueil h1 {
    font-family: 'East Sea Dokdo', cursive !important;
    font-size: 65px;
}

.accueil p {
    width: 30%;
    margin: 3%;
}

.accueil .full-topic {
    /* width: 60%; */
    margin: 3%;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.full-message {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.full-bloc {
    margin-left: 30%;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.bloc {
    height: 400px;
    width: 300px;
    transition: 0.5s;
    color: white;
    border-radius: 1em;
}

.bloc:hover {
    box-shadow: -1px -1px 12px 15px rgba(31, 209, 31, 1);
}

.bloc-profil {
    height: 400px;
    width: 550px;
    transition: 0.5s;
    color: white;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
}

.bloc-profil:hover {
    box-shadow: -1px -1px 12px 15px rgba(31, 209, 31, 1);
}

.int-bloc-profil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bloc-avatar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-items: center;
}

.bloc-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 1em;
    place-self: center;
}

.bloc-avatar input[type=file] {
    margin-bottom: 2vh;
}

.bloc_error {
    height: 150px;
    width: 350px;
    border-radius: 1em;
    font-size: 30px;
}

.error_message {
    color: red;
    font-size: 25px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

main label {
    margin-left: 10px;
    width: 100px;
    display: inline-block;
    font-size: 20px;
    place-self: center;
}

main label.profil {
    align-self: start;
    width: 50%;
}

form#modif_profil {
    display: flex;
    flex-direction: row;
}

select#modif_status {
    height: 50%;
    align-self: center;
}

main.profil {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3%;
    color: white;
    align-self: center;
    align-items: start;
    font-size: 25px;
}

form#modif_profil {
    width: 80%;
    margin-bottom: 2%;
    align-self: center;
}

select#modif_status {
    margin-right: 15px;
}

form.delete_profil {
    align-self: center;
    width: 50%;
}

input#submit_delete_user {
    margin-left: 20px;
}

main input[type=text] {
    place-self: center;
    background: black;
    border: none;
    color: white;
    transition: 0.3s;
}

main input[type=text]:hover {
    border-bottom: 2px solid rgb(94, 94, 252);
}

main input[type=password] {
    place-self: center;
    background: black;
    border: none;
    color: white;
    transition: 0.3s;
}

main input[type=password]:hover {
    border-bottom: 2px solid rgb(94, 94, 252);
}

main input[type=email] {
    place-self: center;
    background: black;
    border: none;
    color: white;
    transition: 0.3s;
}

main input[type=email]:hover {
    border-bottom: 2px solid rgb(94, 94, 252);
}

main p {
    font-size: 30px;
}

.login {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    font-size: 25px;
}

.password {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    font-size: 25px;
}

.message {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    outline: none;
}

.confirm-password {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    font-size: 20px;
    outline: none;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.button-inscription {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.button-sujet {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-topic {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.button-message {
    /* margin-top: 15px; */
    display: flex;
    justify-content: center;
}

main input[type=submit] {
    font-family: 'Source Code Pro', monospace;
    color: yellowgreen;
    border-radius: 1em;
    height: 35px;
    width: 100px;
    background-color: black;
    transition: 0.5s;
    outline: none;
    margin-top: 1em;
}

main input[type=submit]:hover {
    box-shadow: 0px 0px 10px 2px rgba(43, 255, 43, 1);
}

.affich_message {
    height: 70%;
    width: 100%;
    border: solid 2px greenyellow;
    border-radius: 1em;
}

.full-sujet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    height: auto;
}

.topic,
.sujet {
    height: 450px;
    width: 300px;
    border-radius: 1em;
    box-shadow: 0px 0px 10px 2px rgba(43, 255, 43, 1);
}

.titre-topic {
    font-size: 12px;
    border-bottom: rgba(43, 255, 43, 1) 2px solid;
}

.titre-sujet {
    border-bottom: rgb(255, 123, 0) 2px solid;
}

.table_topic,
.table_sujet {
    overflow-y: scroll;
    height: auto;
    height: 350px;
    display: flex;
    align-self: center;
    /* border-bottom: rgba(43, 255, 43, 1) 2px solid; */
}

.table_message {
    overflow-y: scroll;
    width: 100%;
    height: 82%;
    display: flex;
    align-self: center;
}

.table_message table tbody {
    width: 100%;
    color: white;
}

.table table {
    height: 100%;
}

.table_topic tr,
.table_topic tr {
    width: 100%;
    align-content: center;
}

.table table td {
    height: 90%;
}

a {
    text-decoration: none !important;
}

.tr_message {
    width: 100%;
    height: 110px;
}

.td_message {
    width: 600px;
    overflow-y: scroll;
}

.formulaire_message {
    height: 25%;
    width: 100%;
    border: solid 2px greenyellow;
    border-radius: 1em;
}

.formulaire {
    height: 250px;
    width: 500px;
    border: solid 2px greenyellow;
    border-radius: 1em;
}

main table {
    width: 100%;
    display: flex;
    justify-content: center;
}

main table th {
    color: greenyellow;
    font-size: 40px;
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

main table td {
    border-radius: 0.5vw;
    background-color: #923cb5;
    background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
    text-align: center;
    width: 10em;
    height: 3vw;
    font-size: 25px;
}

main table td a {
    height: auto;
    width: auto;
    color: white;
    outline: none;
    place-self: center;
}

main h1 {
    display: flex;
    justify-content: center;
    font-size: 4em;
}

main h2 {
    display: flex;
    justify-content: center;
}

footer {
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    height: 2.5rem;
    background-color: black;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 2px rgba(43, 255, 43, 1);
}

footer section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-size: 30px;
}

footer p {
    place-self: center;
}

footer a {
    color: white;
    font-size: 20px;
}

.footer-link-1 {
    display: flex;
    flex-direction: column;
    outline: none;
}

.footer-link-2 {
    display: flex;
    flex-direction: column;
    outline: none;
}

footer p {
    color: white;
    font-size: 15px;
}